{% extends 'base.html.twig' %}

{% block title %}GeneralConstraints index{% endblock %}

{% block body %}
    <h1>GeneralConstraints index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartHour</th>
                <th>EndHour</th>
                <th>BreakDuration</th>
                <th>CourseMaxDuration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for general_constraint in general_constraints %}
            <tr>
                <td>{{ general_constraint.id }}</td>
                <td>{{ general_constraint.startHour ? general_constraint.startHour|date('H:i:s') : '' }}</td>
                <td>{{ general_constraint.endHour ? general_constraint.endHour|date('H:i:s') : '' }}</td>
                <td>{{ general_constraint.breakDuration ? general_constraint.breakDuration|date('H:i:s') : '' }}</td>
                <td>{{ general_constraint.courseMaxDuration ? general_constraint.courseMaxDuration|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_general_constraints_show', {'id': general_constraint.id}) }}">show</a>
                    <a href="{{ path('app_general_constraints_edit', {'id': general_constraint.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_general_constraints_new') }}">Create new</a>
{% endblock %}
