{% extends 'base.html.twig' %}

{% block title %}GeneralConstraints{% endblock %}

{% block body %}
    <section>
        <h1>GeneralConstraints</h1>
        <a href="{{ path('app_general_constraints_edit') }}"
            class="btn btn-outline-warning">
            Edit <i class="fa-solid fa-pen-to-square"></i>
        </a>
        <table class="table">
            <tbody>
                <tr>
                    <th>StartHour</th>
                    <td>{{ general_constraints.startHour ? general_constraints.startHour|date('H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>EndHour</th>
                    <td>{{ general_constraints.endHour ? general_constraints.endHour|date('H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>BreakDuration</th>
                    <td>{{ general_constraints.breakDuration ? general_constraints.breakDuration|date('H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>CourseMaxDuration</th>
                    <td>{{ general_constraints.courseMaxDuration ? general_constraints.courseMaxDuration|date('H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>CourseMinDuration</th>
                    <td>{{ general_constraints.courseMinDuration ? general_constraints.courseMinDuration|date('H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>SemesterOneStart</th>
                    <td>{{ general_constraints.semesterOneStart ? general_constraints.semesterOneStart|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>SemesterOneEnd</th>
                    <td>{{ general_constraints.semesterOneEnd ? general_constraints.semesterOneEnd|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>SemesterTwoStart</th>
                    <td>{{ general_constraints.semesterTwoStart ? general_constraints.semesterTwoStart|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>SemesterTwoEnd</th>
                    <td>{{ general_constraints.semesterTwoEnd ? general_constraints.semesterTwoEnd|date('Y-m-d') : '' }}</td>
                </tr>
            </tbody>
        </table>
    </section>
    <hr>
    <section>
        <h1>Holiday</h1>
        <a href="{{ path('app_holiday_new') }}"
            class="btn btn-outline-primary">
            <i class="fa-sharp fa-regular fa-plus"></i>
        </a>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Type</th>
                    <th>Beginning</th>
                    <th>End</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for holiday in general_constraints.holidays %}
                <tr>
                    <td>{{ holiday.id }}</td>
                    <td>{{ holiday.type }}</td>
                    <td>{{ holiday.beginning ? holiday.beginning|date('Y-m-d') : '' }}</td>
                    <td>{{ holiday.end ? holiday.end|date('Y-m-d') : '' }}</td>
                    <td>
                        <a href="{{ path('app_holiday_show', {'id': holiday.id}) }}" class="btn btn-outline-primary">
                            Show <i class="fa-solid fa-eye"></i>
                        <a href="{{ path('app_holiday_edit', {'id': holiday.id}) }}" class="btn btn-outline-warning">
                            Edit <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
