{% extends 'base.html.twig' %}

{% block title %}GeneralConstraints{% endblock %}

{% block body %}
    <section>
        <h1>GeneralConstraints</h1>
        <a href="{{ path('app_general_constraints_edit') }}"
            class="btn btn-outline-warning">
            Edit <i class="fa-solid fa-pen-to-square"></i>
        </a>
        <table class="table">
            <tbody>
                <tr>
                    <th>StartHour</th>
                    <td>{{ general_constraints.startHour ? general_constraints.startHour|date('H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>EndHour</th>
                    <td>{{ general_constraints.endHour ? general_constraints.endHour|date('H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>BreakDuration</th>
                    <td>{{ general_constraints.breakDuration ? general_constraints.breakDuration|date('H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>CourseMaxDuration</th>
                    <td>{{ general_constraints.courseMaxDuration ? general_constraints.courseMaxDuration|date('H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>
    </section>
{% endblock %}
