{% extends 'base.html.twig' %}

{% block title %}Planning {{ filiere }} - Semester {{ semester }}{% endblock %}

{% block body %}
    <h1>Planning {{ filiere }} - Semester {{ semester }}</h1>
    <div class="accordion" id="accordion-planning">
        {% for week, planning in plannings%}
            <div class="accordion-item">
                <h2 class="accordion-header" id="id-{{ week }}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-id-{{ week }}" aria-expanded="false" aria-controls="collapse-id-{{ week }}">
                        {% set dates = planning|keys %}

                        Semaine du {{ dates[0] }}
                    </button>
                </h2>
                <div id="collapse-id-{{ week }}" class="accordion-collapse collapse show" aria-labelledby="id-{{ week }}" data-bs-parent="#accordion-planning">
                    <div class="accordion-body">
                        <table class="table table-hover table-bordered text-center">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col" colspan="4">Cours</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for date, slots in planning%}
                                <tr>
                                    <td>{{ date }}</td>
                                    {% for slot in slots %}
                                    <td>
                                        {{ slot.cours.uE.name }} <br>
                                        {{ slot.cours.type }} <br>
                                        {{ slot.room.name }} <br>
                                        {{ slot.startHour | date('H:i') }} - {{ slot.endHour | date('H:i') }}
                                    </td>
                                    {% endfor %}
                                {% endfor %}
                                </tr>  
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
